<div class="login-container">
  <div class="video-container">
    <video #videoPlayer src="../../../assets/vecteezy_car-rent-with-mobile-application-online-on-alpha-channel_36932453.mp4" autoplay muted loop width="100%" height="100%" style="object-fit: cover;">
    </video>
  </div>

  <div class="top-right-image">
    <img src="../../../assets/IMG_8896.jpg" alt="Top Right Image">
  </div>

  <div class="form-container">
    <h2>Login</h2>
    <form (ngSubmit)="onlogin()">
      <div class="form-field">
        <label for="email">Email:</label>
        <input [(ngModel)]="userobj.email" name="email" type="email" required />
      </div>

      <div class="form-field">
        <label for="password">Password:</label>
        <input [(ngModel)]="userobj.password" name="password" type="password" required />
      </div>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

      <div class="attempts-info">
        <p *ngIf="maxAttemptsReached">Account locked for 30 minutes. Try again after {{ remainingTime }} seconds.</p>
        <p *ngIf="!maxAttemptsReached">Attempts left: {{ maxAttempts - attempts }}</p>
      </div>

      <button type="submit" [disabled]="isLockedOut || maxAttemptsReached">Login</button>
    </form>
  </div>
</div>
